@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('/assets/bg-2.jpeg');
  background-position: top;
  object-fit: fill;
  object-position: top;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}